.divReceptDrawParent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
	margin:10px 10px 10px 10px;
}

.divRecept{
    width: 25%;
    height: 40%;
}
.divReceptSlika > img {
    width: 280px;
    height: 250px;
	
}