.divReceptDrawParent,.divReceptFromVrstaJela{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
	margin:10px 10px 10px 10px;
}

.divRecept{
    width: 280px;
    height: 100%;
    margin: 5px 5px 5px 5px;
}

.divRecept > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divRecept > div > img, .divRecept > div > label{
    align-self: center;
    font-size: large;
}

.divRecept:hover{
    border: 1px solid black;
    background-color: darkgray;
}

.divReceptSlika > img {
    width: 80%;
    height: 250px;
	
}

.divReceptPage{
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.divReceptComment{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.divReceptCommentEnter{
    width:50%;
    display: flex;
    flex-direction: column;
}

.divReceptCommentShow{
    width:60%;
    padding:15px 10px 15px 10px;
    display: flex;
    flex-direction: column;
    background-color:steelblue;
}

.divComment{
    border:1px solid black;
}

.divCommentFont{
    font-size: large;
    font-weight: bolder;
}

.divReceptPageSlika > img{
    width: 100%;
    height: 300px;
}

.divReceptPageInfo{
    width: 90%;
    padding: 10px;
}

.divReceptPageSlika, .divReceptMoreButton{
    padding: 10px;
}

.divReceptPageInfo label{
    font-size: larger;
}

.main-label{
    font-weight: bold;
}

.divReceptPageInfo a{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-style: bold;
}
.divReceptPageInfo a:hover{
    color:brown;
    /*border-bottom: 1px solid whitesmoke;*/
}

@media only screen and (max-width: 768px){

    .divReceptPageInfo label{
        font-size: medium;
    }

    .divReceptPageSlika > img{
        width: 100%;
        height: 220px;
    }
}

@media only screen and (max-width: 550px){
    .divReceptPageSlika > img{
        width: 100%;
        height: 170px;
    }
}